.template {
  display: none;
}
.container-fluid {
  max-width: 1170px;
}
body {
  background: #edf5f8;
}
a {
  color: #81b9cb;
}
a:hover {
  color: #4a9bb5;
  text-decoration: underline;
}
header h1 {
  color: rgba(147,195,211,0.9);
  text-shadow: 1px 2px 6px #c9e1e9, 0 0 0 #000, 1px 2px 6px #c9e1e9;
}
header h1 .fa {
  color: rgba(201,225,233,0.8);
  text-shadow: 1px 1px 6px #c9e1e9, 0 0 0 #000, 1px 4px 6px #c9e1e9;
}
#photo-holder {
  margin-top: 30px;
}
#photo-holder.align-row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
#photo-holder.align-row > .item:not(.template) {
  display: flex;
  align-items: center;
  justify-content: center;
}
#photo-holder .item .outer-holder {
  width: 100%;
  padding: 20px;
}
#photo-holder .item .outer-holder .image {
  text-align: center;
  padding-bottom: 15px;
}
#photo-holder .item .outer-holder .image img {
  padding: 10px;
  background: #FFF;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  max-width: 100%;
  max-height: 100%;
}
#photo-holder .item .outer-holder .tags {
  font-size: 12px;
  color: #999;
  padding-top: 15px;
}
#photo-holder div.alert {
  font-size: 20px;
  display: inline-block;
  background: none;
  border: none;
  color: #CCC;
}
#photo-holder div.alert .fa {
  font-size: 150px;
  display: block;
}
footer div.row {
  font-size: 11px;
  padding: 20px 0px 10px 0px;
  color: #777;
}
