// Variables
@baseColour: #c9e1e9;

.template {
	display: none;
}

.container-fluid {
	max-width: 1170px;
}

body {
	background: lighten(@baseColour, 10%);
}

a {
	color: darken(@baseColour, 20%);
	
	&:hover {
		color: darken(@baseColour, 35%);
		text-decoration: underline;
	}
}

// Header
header {
	h1 {
		color: rgba(red(darken(@baseColour, 15%)), green(darken(@baseColour, 15%)), blue(darken(@baseColour, 15%)), 0.9);
	    text-shadow: 1px 2px 6px @baseColour, 0 0 0 #000, 1px 2px 6px @baseColour;
		
		.fa {
			color: rgba(red(@baseColour), green(@baseColour), blue(@baseColour), 0.8);
			text-shadow: 1px 1px 6px @baseColour, 0 0 0 #000, 1px 4px 6px @baseColour;
		}
	}
}

#photo-holder {
	margin-top: 30px;
	
	&.align-row {
		display: flex;
		align-items: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
		
		> .item:not(.template) {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
		
	.item {
		.outer-holder {
			width: 100%;
			padding: 20px;
			
			.image {
				text-align: center;
				padding-bottom: 15px;
				
				img {
					padding: 10px;
					background: #FFF;
					-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
					-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
					box-shadow: 0 3px 6px rgba(0,0,0,.25);
					max-width: 100%;
					max-height: 100%;
				}
			}
			
			.tags {
				font-size: 12px;
				color: #999;
				padding-top: 15px;
			}
		}
	}
	
	div.alert {
		font-size: 20px;
		display: inline-block;
		background: none;
		border: none;
		color: #CCC;
		
		.fa {
			font-size: 150px;
			display: block;
		}
	}
}

footer {
	div.row {
		font-size: 11px;
		padding: 20px 0px 10px 0px;
		color: #777;
	}
}